<h1>Kamados Argentinos</h1>
<br>
<div class="container">
    {{#each products}}
    <div class="card">
        <div>
            <p class="bold"> {{this.title}} </p>
            <p> {{this.description}} </p><br><br>
            <p class="bold big">$ {{this.price}} </p>
        </div>
        <button class="btn">Comprar</button>
    </div>
    {{/each}}
</div>