<h1>Catálogo Online</h1>

<h2>Agregar Productos</h2>
<form class="inputForm">
    <input type="text" id="title" placeholder="Nombre">
    <input type="text" id="description" placeholder="Descripción">
    <input type="number" id="price" placeholder="Precio">
    <input type="text" id="img" value="Ruta Imagen">
    <input type="text" id="code" placeholder="Código">
    <input type="number" id="stock" placeholder="Stock">
    <input type="text" id="category" placeholder="Categoría">
    <select id="status">
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
    </select>
    <button class="btn" type="button" id="btnSend">Cargar</button>
</form>

<h2>Lista de Productos</h2>
<div id="productContainer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>